@model IEnumerable<polarisWebsite.Domain.Entities.Article>

@{
    ViewBag.Title = "Admin: Articles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="fullpage">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>All Ariticles</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-right">Article ID</th>
                    <th class="text-right">Title</th>
                    <th class="text-right">Author</th>
                    <th class="text-right">Created time</th>
                    <th class="text-right">Revised time</th>
                    <th class="text-right">File type</th>
                    <th class="text-center">Actions</th>
                </tr>
                @foreach (var item in Model)
            {
                    <tr>
                        <td class="text-right">@item.ArticleID</td>
                        <td class="text-right">
                            @Html.ActionLink(item.Title, "ArticleEdit",
                       new
                       {
                           item.ArticleID
                       })
                        </td>
                        <td class="text-right">@item.Author</td>
                        <td class="text-right">@TimeZoneInfo.ConvertTime(item.CreatedTime, TimeZoneInfo.Local, TimeZoneInfo.FindSystemTimeZoneById("China Standard Time")).ToString()</td>
                        <td class="text-right">@TimeZoneInfo.ConvertTime(item.RevisedTime, TimeZoneInfo.Local, TimeZoneInfo.FindSystemTimeZoneById("China Standard Time")).ToString()</td>
                        <td class="text-right">@item.FileType</td>
                        <td class="text-center">
                            @using (Html.BeginForm("Delete", "Admin"))
                            {
                                @Html.Hidden("ArticleID", item.ArticleID)
                                <input type="submit"
                                       class="btn btn-default btn-xs"
                                       value="Delete" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Add a new article", "ArticleCreate", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>